/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (max-width: 996px) {
  .intro {
    padding: 0 1rem;
    font-size: 1.5rem;
  }
}

.intro {
  padding: 0 10rem;
  font-size: 4rem;
  font-weight: normal;
  line-height: 1.5;
  max-width: 1200px;
  margin: 0 auto; 
  margin-top: 100px;
  word-wrap: break-word;
  word-break: keep-all;
  user-select: none;
}

