/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@media screen and (max-width: 996px) {
  .intro {
    padding: 0 1rem;
    font-size: 1.5rem;
  }
}

.intro {
  font-family: var(--font-family-headline);
  padding: 0 4rem;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
  max-width: 1200px;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: keep-all;
  user-select: none;
  text-align: center;
  position: relative;
}

.intro img {
  width: 40%;
  height: 40%;
  vertical-align: text-bottom;
  border-radius: 10px;
}

